{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Bordeaux</h2>
    <p>
      October 31<sup>st</sup> − November 3<sup>rd</sup> 2019
    </p>
    <p>
      Organized by <a href="https://afpy.org">AFPy</a>, this conference is
      free, entirely coordinated by volunteers and dedicated to bringing
      together people interested by the <a href="https://python.org">Python</a>
      programming language.
    </p>
    <ul>
      <li>
        <a href="{{ url_for('page', name='schedule', lang=lang) }}">See Schedule</a>
      </li>
    </ul>
  </article>

  <article>
    <hgroup>
      <h2>Schedule</h2>
      <hr/>
      <img src="{{ url_for('static', filename='svg/agenda.svg') }}" alt='Programme'/>
    </hgroup>
    <section>
      <h3>Participative Coding ("Sprints")</h3>
      <p>
        The first two days are dedicated to sprints.
      </p>
      <p>
        Developers of various open source projects gather in little groups to
        code together. Everyone is welcome to contribute, and we seek to guide
        beginners.
      </p>
      <p>
        Take part to the development of your favorite project! We provide the
        space and environment (tables, chairs, internet connection.… and
        coffee!).
      </p>
    </section>

    <section>
      <h3>Conferences and Workshops</h3>
      <p>
        During the two following days, you will have the opportunity to attend
        to presentations on various subjects, about the Python programming
        language, its use cases, good practices, feedbacks, shared ideas…
      </p>
    </section>
  </article>

  <article>
    <hgroup>
        <h2>AFPy</h2>
        <hr/>
      <img src="{{ url_for('static', filename='svg/pyth.svg') }}" alt='Programme'/>
    </hgroup>
    <section class="d-flex">
      <div class="card">
        We promote the Python programming language among the widest possible
        audience.
      </div>
      <div class="card">
        We diffuse our knowledge and are open to external contributions.
      </div>
      <div class="card">
        Solidarity and democracy increase the potential of each one of us.
      </div>
    </section>
  </article>

  <article>
    <hgroup>
        <h2>The Place</h2>
        <hr/>
      <img src="{{ url_for('static', filename='svg/map.svg') }}" alt='Programme'/>
    </hgroup>
    <section class="column center">
      <address>
        Université de Bordeaux
      </address>
      <a class="button" href="{{ url_for('page', name='venue', lang=lang) }}">
        More Details
      </a>
    </section>
  </article>

  <article>
    <hgroup>
      <h2>Our Sponsors</h2>
      <hr/>
      <img src="{{ url_for('static', filename='svg/cup.svg') }}" alt='Programme'/>
    </hgroup>
    <section class="column center">
      {{ sponsors(lang, only_logo=True) }}
      <p>
        The local team is available to answer your questions about the event
        at <a href="mailto:contact@pycon.fr">contact@pycon.fr</a>.
      </p>
    </section>
  </article>
{% endblock content %}
