{% extends '_layout.jinja2' %}

{% block content %}
  <hgroup>
    <h2>Schedule</h2>
    <hr/>
    <img src="{{ url_for('static', filename='svg/agenda.svg') }}" alt='Programme'/>
  </hgroup>
  <article>
    <h2>Conferences and Workshops</h2>
    <p>
      Saturday, November 2<sup>nd</sup> and Sunday November 3<sup>rd</sup>.
    </p>
    <p>
      <em>
        Call for proposals is now over. Schedule will be available in a few
        days.
      </em>
    </p>

    <!--
      <section>
        <h3>Title</h3>
        <p>Presentation</p>
      </section>
    -->
  </article>

  <article>
    <h2>Participative Coding ("Sprints")</h2>
    <p>
      Thursday, October 31<sup>st</sup> and Friday, November 1<sup>st</sup>.
    </p>
    <p>
      <em>
        Call for proposals is now over. Schedule will be available in a few
        days.
      </em>
    </p>
  </article>
{% endblock content %}
