{% extends '_layout.jinja2' %}

{% block content %}
  <hgroup>
    <h2>Schedule</h2>
    <hr/>
    <img src="{{ url_for('static', filename='svg/agenda.svg') }}" alt='Programme'/>
  </hgroup>

  <article>
    <h3>Calendar</h3>
    <p>
      The calendar is available below, in a <a class="button" href="{{
      url_for('schedule', lang=lang) }}">fullscreen page</a>, or in your
      favourite calendar application as an
      <a class="button" href="{{ url_for('calendar') }}">iCal file</a>.
    </p>
    <p>
      You can read the description of
      <a href="{{ url_for('talks', lang=lang, category='keynote') }}">keynotes</a>,
      <a href="{{ url_for('talks', lang=lang, category='conference') }}">talks</a>,
      <a href="{{ url_for('talks', lang=lang, category='workshop')}}">workshops</a> and
      <a href="{{ url_for('talks', lang=lang, category='sprint') }}">sprints</a>.
    </p>
    <iframe src="{{ url_for('schedule', lang=lang) }}"></iframe>
    <div class="column center">
    </div>
  </article>

  <article id="register">
    <h3>Registration</h3>
    <p>
      PyConFr's sprints, talks and workshops are free.
    </p>
    <p>
      However, <strong>registration is mandatory for everyone</strong>,
      including organization staff, volunteers, speakers and sponsors.
    </p>
    <p>
      Registration is open until October 28, limited to:
    </p>
    <ul>
      <li>200 places for sprints,</li>
      <li>1,000 places for talks and workshops,</li>
      <li>125 places for <a href="#dinner">the Saturday night dinner</a>.</li>
    </ul>
    <p>
      With this registration, it is possible to:
    </p>
    <ul>
      <li>
        reserve t-shirts (10€), also sold during the event with limited stocks,
      </li>
      <li>
        reserve a place for the Saturday night dinner (25€).
      </li>
    </ul>
    <p>
      You can also support <a href="https://afpy.org/">AFPy</a>, the
      association organizing PyConFr, with
      a <a href="https://www.helloasso.com/associations/afpy/collectes/dons">donation</a>.
      If you want to vote during its general assembly on Sunday morning, you
      must <a href="https://www.afpy.org/adhesions">become a member</a> before
      October 18<sup>th</sup>.
    </p>
    <div class="column center">
      <a class="button" href="https://www.helloasso.com/associations/afpy/evenements/pyconfr-2019">Register</a>
    </div>
  </article>

  <article id="dinner">
    <h3>Saturday night dinner</h3>
    <p>
      A dinner is organized on Saturday night, from 7:30 PM to 11:00 PM,
      in <a href="http://cap-sciences.net/">Cap Sciences</a>, only for the ones
      who chose the option during their registration.
    </p>
    <p>
      This dinner includes:
    </p>
    <ul>
      <li>
        a cocktail buffet with petit fours (including vegetarian and vegan
        food) and soft drinks,
      </li>
      <li>
        a place for the
        <a href="http://cap-sciences.net/au-programme/exposition/robots">Robots</a>
        exposition,
      </li>
      <li>
        an <a href="https://www.arbalet-project.org/frontage/">Arbalet
        Frontage</a> workshop on the Cap Sciences facade (laptop required).
      </li>
    </ul>
    <p>
      Alcoholic drinks can be bought (not included in the price) during the
      dinner.
    </p>
  </article>
{% endblock content %}
