{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Conferences and Workshops</h2>
    <p>
      Saturday, November 2<sup>nd</sup> and Sunday November 3<sup>rd</sup>.
    </p>
    <p>
      <em>
        Schedule will be available in early October. If you want to participate, please
        <a href="https://cfp-2019.pycon.fr/">propose your conference or workshop
        subject</a>. Call for proposals is open until the end of September.
      </em>
    </p>

    <!--
      <section>
        <h3>Title</h3>
        <p>Presentation</p>
      </section>
    -->
  </article>

  <article>
    <h2>Participative Coding ("Sprints")</h2>
    <p>
      Thursday, October 31<sup>st</sup> and Friday, November 1<sup>st</sup>.
    </p>
    <p>
      <em>
        Schedule will be available in early October. If you want to participate, please
        <a href="https://cfp-2019.pycon.fr/">propose your sprint
        subject</a>. Call for proposals is open until the end of September.
      </em>
    </p>

    <!--
      <section>
        <h3>Title</h3>
        <p>Presentation</p>
      </section>
    -->
  </article>
{% endblock content %}
