{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <hgroup>
      <h2>Sponsors</h2>
      <hr/>
      <img src="{{ url_for('static', filename='svg/cup.svg') }}" alt='Le lieu'/>
    </hgroup>
    {{ sponsors(lang) }}
  </article>
{% endblock content %}
