{% extends '_layout.jinja2' %}

{% set days = {'2019-11-02': 'Saturday', '2019-11-03': 'Sunday'} %}
{% set titles = {'conference': 'Talks', 'workshop': 'Workshops', 'sprint': 'Sprints', 'keynote': 'Keynotes'} %}

{% block content %}
  <hgroup>
    <h2>{{ titles[category] }}</h2>
    <hr/>
    <img src="{{ url_for('static', filename='svg/agenda.svg') }}" alt='Programme'/>
  </hgroup>

  {% for talk in talks %}
    <article id="{{ talk.title|lower|escape }}">
      <h3>{{ talk.title }} <a href="#{{ talk.title|lower|escape }}">🔗</a></h3>
      <p>
        By {{ talk.person }}
        {% if category == 'sprint' %}
          {% if talk.id == '678' %}
            - Friday, from 10:00 to 18:00
          {% else %}
            - Thursday and Friday, from 10:00 to 18:00
          {% endif %}
        {% else %}
          − Room {{ talk.room }}
          − {{ days[talk.day] }}, {{ talk.start }}
        {% endif %}
      </p>
      {{ talk.description | safe }}
    </article>
  {% endfor %}
{% endblock content %}
