{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Address</h2>
    <p>
      PyConFr 2019 is held at the <a href="https://www.u-bordeaux.fr/">Université
      de Bordeaux</a>, on
      the <a href="https://www.u-bordeaux.fr/Universite/Campus/Campus-Talence-Pessac-Gradignan">Campus
      de Talence</a>.
    </p>
    <address>
      Université de Bordeaux
      Bâtiment A22
      351 Cours de la Libération
      33400 Talence
    </address>
    <p>
      GPS coordinates: 44.8073 -0.5988
    </p>
    <div id="map"></div>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script>
      map = new OpenLayers.Map("map");
      map.addLayer(new OpenLayers.Layer.OSM());
      var lonLat = new OpenLayers.LonLat(-0.5988, 44.8073)
        .transform(
          new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
          map.getProjectionObject() // to Spherical Mercator Projection
        );
      var zoom=16;
      var markers = new OpenLayers.Layer.Markers("Markers");
      map.addLayer(markers);
      markers.addMarker(new OpenLayers.Marker(lonLat));
      map.setCenter(lonLat, zoom);
    </script>
  </article>

  <article>
    <h2>Reach the Campus</h2>

    <section>
      <h3>Metro</h3>
      <p>
        You can reach the campus
        by <a href="https://www.infotbm.com/info/line/tbt-60">métro B</a>, at
        the Béthanie station.
      </p>
    </section>

    <section>
      <h3>Self-Service Bikes</h3>
      <p>
        You can also reach the campus
        using <a href="https://www.infotbm.com/en/v3.html">self-service
        bikes (called "V3")</a>, at the Arts et Métiers (#112) station.
      </p>
    </section>
  </article>

  <!--
  <article>
    <h2>Travelling to Bordeaux</h2>

    <section>
      <h3>Car</h3>
    </section>

    <section>
      <h3>Train</h3>
    </section>

    <section>
      <h3>Plane</h3>
    </section>
  </article>

  <article>
    <h2>Housing Advice</h2>
  </article>
  -->
{% endblock content %}
