{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Address</h2>
    <p>
      PyConFr 2019 is held at <a>L'université de Bordeaux</a>.
    </p>
    <address>
    </address>
    <p>
      GPS coordinates:
    </p>
  </article>

  <article>
    <h2>Reach the Campus</h2>

    <section>
      <h3>Metro</h3>
    </section>

    <section>
      <h3>Self-Service Bikes</h3>
    </section>
  </article>

  <article>
    <h2>Travelling to Bordeaux</h2>

    <section>
      <h3>Car</h3>
    </section>

    <section>
      <h3>Train</h3>
    </section>

    <section>
      <h3>Plane</h3>
    </section>
  </article>

  <article>
    <h2>Housing Advice</h2>
  </article>
{% endblock content %}
