$background: #ffffff
$text: #000000
$primary: #0606fe
$secondary: #ffd205

@font-face
  font-family: unica
  src: url(/2019/static/fonts/UnicaOne-Regular.ttf)

@font-face
  font-family: dosis
  font-weight: normal
  src: url(/2019/static/fonts/Dosis-Regular.otf)

@font-face
  font-family: dosis
  font-weight: bold
  src: url(/2019/static/fonts/Dosis-Bold.otf)


*
  // No italic font available
  font-style: normal !important

html
  color: $text
  font-family: dosis
  font-size: 1.2em

body
  display: flex
  flex-direction: column
  margin: 0
  min-height: 100vh

h1
  display: none

h2, h3, h4, h5
  font-family: unica
  font-weight: normal
  letter-spacing: .1em
  text-transform: uppercase
  margin-top: 2em

a
  color: $primary
  text-decoration: inherit

address
  white-space: pre-line


ul
  li
    list-style: url('../svg/tiret.svg')



.text-center
  text-align: center


.d-flex
  display: flex
  justify-content: space-around

  .card
    list-style: none
    width: 12rem
    margin: 1rem


.column
  display: flex
  flex-direction: column

  &.center
    align-items: center

  .button
    background-color: #0606fe
    margin: 2rem 0
    padding: 0.5rem
    color: white


hgroup
  display: flex
  align-items: center
  flex-direction: column

  hr
    width: 3rem
    height: 5px
    border: none
    background: #ffd205

  img
    height: 3em
    margin: 1.5rem 0.5rem

aside, nav, footer
  background: $text
  color: $background

  ul
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0

    li
      display: block

      a
        color: inherit
        display: inline-block
        padding: 0.5em 1em
        text-decoration: inherit

      &.active a
        background: $primary

aside
  align-self: flex-end
  height: 0
  z-index: 1

  ul li
    font-size: 0
    opacity: 0.4
    padding-right: 0.5rem
    padding-top: 0.5rem

    a::before
      background: center / cover
      content: ''
      display: block
      height: 1rem
      width: 1.5rem

    &#french a::before
      background-image: url(/2019/static/images/france.svg)

    &#english a::before
      background-image: url(/2019/static/images/united-kingdom.svg)

    &.active
      opacity: 1

      a
        background: transparent

footer ul
  justify-content: center


main
  flex: 1

  article > *
    box-sizing: border-box
    max-width: 95%
    margin-left: auto
    margin-right: auto
    padding-left: 2rem
    padding-right: 2rem
    width: 80rem

  article
    overflow: auto
    padding-bottom: 3em

    &:not(:first-child)
      border-top: 1px solid $secondary

    h3 a
      color: inherit
      cursor: text

      &::after
        content: '🔗'
        cursor: pointer
        margin-left: 0.5em

    table
      border-collapse: collapse
      margin: 2em auto
      width: 60rem

      th
        font-weight: normal

      td
        border: 1px solid $secondary
        padding: 0.25em

        &:not(:first-child)
          text-align: center
          width: 15%

    > iframe
      border: 0
      height: 25rem
      margin: 1em 0
      max-width: 100%
      min-height: 60vh
      overflow: hidden
      padding: 0
      width: 100%


  .sponsors
    align-items: center
    display: flex
    flex-wrap: wrap
    flex-direction: column

    .sponsor
      align-items: center
      display: flex
      flex-direction: column

    section
      padding: 1em
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: space-around
      align-items: center

      .logo
        display: block

        img
          display: block
          width: 200px
          margin: 1rem


#news
  section
    display: flex
    flex-wrap: wrap
    justify-content: space-around


#sponsors
  hgroup
    img
      height: 3em
      margin: 1.5rem 0.5rem

  .sponsor
    .description
        max-width: 600px
        padding: 1.5rem
        border-right: 5px solid #ffd205
        border-left: 5px solid #0606fe


#index
  hgroup
    img
      height: 3em
      margin: 1.5rem 0.5rem

  article:first-child
    background: linear-gradient(rgba(white, 0.2), rgba(white, 0.75), white)
    display: flex
    flex-direction: column
    font-size: 1.25em
    height: 100vh
    justify-content: center
    padding-bottom: 0
    position: relative
    text-align: center

    &::before
      background: url(/2019/static/images/bordeaux-small.jpg) center / cover
      content: ''
      display: block
      height: 100%
      position: absolute
      width: 100%
      z-index: -1

    h2
      font-size: 0

      &::before
        content: url(/2019/static/images/logo.svg)
        display: block
        margin: -4rem auto 0
        max-width: 30rem
        width: 80%

    p
      margin: 1rem auto
      width: 75%

      &:first-of-type
        font-family: unica
        font-size: 1.5em
        line-height: 1
        margin-bottom: 0

        sup
          font-size: 0.5em
          vertical-align: 55%

    ul
      display: flex
      justify-content: center
      flex-wrap: wrap
      font-size: 0.8em
      padding: 0

      li
        display: block
        margin: 0.5em 1em
        white-space: nowrap

        a
          background: $primary
          color: $background
          display: block
          padding: 1em


@media (max-width: 800px)
  html
    font-size: 1em

  nav, footer
    ul li a
      font-size: 0.9em
      padding: 0.5em

  aside ul
    flex-direction: column

  main article table
    font-size: 0.9em
    width: auto

  #index article:first-child p
    width: 95%

hr
  background-color: #ffd205
  border: none
  display: block
  height: 1px
  margin-top: 2em

.level-support
  text-align: center

  hr
    height: 3px
    max-width: 200px
