{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Conférences et ateliers</h2>
    <p>
      Samedi 2 et dimanche 3 novembre.
    </p>
    <p>
      <em>
        Le programme sera disponible début octobre. Si vous souhaitez
        participer, <a href="https://cfp-2019.pycon.fr/">proposez votre sujet
        de conférence ou d'atelier</a>. L'appel à conférenciers est ouvert
        jusqu'à fin septembre.
      </em>
    </p>

    <!--
    <section>
      <h3>Sujet</h3>
      <p>Présentation</p>
    </section>
    -->
  </article>

  <article>
    <h2>Développement participatif (« sprints »)</h2>
    <p>
      Jeudi 31 octobre et vendredi 1<sup>er</sup> novembre.
    </p>
    <p>
      <em>
        Le programme sera disponible début octobre. Si vous souhaitez
        participer, <a href="https://cfp-2019.pycon.fr/">proposez votre sujet
        de développement participatif</a>. L'appel à conférenciers est ouvert
        jusqu'à fin septembre.
      </em>
    </p>

    <!--
    <section>
      <h3>Sujet</h3>
      <p>Présentation</p>
    </section>
    -->
  </article>
{% endblock content %}
