{% extends '_layout.jinja2' %}

{% set days = {'2019-11-02': 'Samedi', '2019-11-03': 'Dimanche'} %}
{% set titles = {'conference': 'Conférences', 'workshop': 'Ateliers', 'sprint': 'Sprints', 'keynote': 'Plénières'} %}
{% set page_name = category %}

{% block content %}
  <hgroup>
    <h2>{{ titles[category] }}</h2>
    <hr/>
    <img src="{{ url_for('static', filename='svg/agenda.svg') }}" alt='Programme'/>
  </hgroup>

  {% for talk in talks %}
    <article id="{{ talk.title|lower|escape }}">
      <h3>{{ talk.title }} <a href="#{{ talk.title|lower|escape }}">🔗</a></h3>
      <p>
        Par {{ talk.person }}
        {% if category == 'sprint' %}
          {% if talk.id == '678' %}
            − Vendredi de 10 h 00 à 18 h 00
          {% else %}
            − Jeudi et vendredi de 10 h 00 à 18 h 00
          {% endif %}
        {% else %}
          − Salle {{ talk.room }}
          − {{ days[talk.day] }} à {{ talk.start.replace(':', ' h ') }}
        {% endif %}
      </p>
      {{ talk.description | safe }}
    </article>
  {% endfor %}
{% endblock content %}
