{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Adresse</h2>
    <p>
      PyConFr 2019 est hébergée par <a>L'université de Bordeaux</a>.
    </p>
    <address>
    </address>
    <p>
      Coordonnées GPS :
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45282.8574610897!2d-0.6286032132264324!3d44.81792619913639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1d6eec499977497f!2sUniversit%C3%A9+de+Bordeaux!5e0!3m2!1sfr!2sma!4v1560347669381!5m2!1sfr!2sma" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
  </article>

  <article>
    <h2>Rejoindre le campus</h2>

    <section>
      <h3>En métro</h3>
    </section>

    <section>
      <h3>En vélo libre service</h3>
    </section>
  </article>

  <article>
    <h2>Venir à Bordeaux</h2>

    <section>
      <h3>En voiture</h3>
    </section>

    <section>
      <h3>En train</h3>
    </section>

    <section>
      <h3>En avion</h3>
    </section>
  </article>

  <article>
    <h2>Conseils pour le logement</h2>
  </article>
{% endblock content %}
