{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Adresse</h2>
    <p>
      PyConFr 2019 est hébergée par <a>L'université de Bordeaux</a>.
    </p>
    <address>
    </address>
    <p>
      Coordonnées GPS :
    </p>
  </article>

  <article>
    <h2>Rejoindre le campus</h2>

    <section>
      <h3>En métro</h3>
    </section>

    <section>
      <h3>En vélo libre service</h3>
    </section>
  </article>

  <article>
    <h2>Venir à Bordeaux</h2>

    <section>
      <h3>En voiture</h3>
    </section>

    <section>
      <h3>En train</h3>
    </section>

    <section>
      <h3>En avion</h3>
    </section>
  </article>

  <article>
    <h2>Conseils pour le logement</h2>
  </article>
{% endblock content %}
