{% extends '_layout.jinja2' %}

{% block content %}
  <hgroup>
    <h2>Le lieu</h2>
    <hr/>
    <img src="{{ url_for('static', filename='svg/map.svg') }}" alt='Le lieu'/>
  </hgroup>
  <article>
    <h2>Adresse</h2>
    <p>
      PyConFr 2019 est hébergée
      par l’<a href="https://www.u-bordeaux.fr/">Université de Bordeaux</a>,
      sur
      le <a href="https://www.u-bordeaux.fr/Universite/Campus/Campus-Talence-Pessac-Gradignan">Campus
      de Talence</a>.
    </p>
    <address>
      Université de Bordeaux
      Bâtiment A22
      351 Cours de la Libération
      33400 Talence
    </address>
    <p>
      Coordonnées GPS : 44,8073 -0,5988
    </p>
    {{ map() }}
  </article>

  <article>
    <h2>Rejoindre le campus</h2>

    <section>
      <h3>En tramway</h3>
      <p>
        Vous pouvez rejoindre le campus par
        le <a href="https://www.infotbm.com/info/line/tbt-60">tram B</a>,
        arrêt Béthanie.
      </p>
    </section>

    <section>
      <h3>En vélo libre service</h3>
      <p>
        Vous pouvez également vous rendre sur le campus
        en <a href="https://www.infotbm.com/fr/v3-comment-ca-marche.html">vélo
        libre service (V3)</a>, à l'arrêt Arts et Metiers (n° 112).
      </p>
    </section>
  </article>

  <!--
  <article>
    <h2>Venir à Bordeaux</h2>

    <section>
      <h3>En voiture</h3>
    </section>

    <section>
      <h3>En train</h3>
    </section>

    <section>
      <h3>En avion</h3>
    </section>
  </article>

  <article>
    <h2>Conseils pour le logement</h2>
  </article>
  -->
{% endblock content %}
