{% macro map() %}
  <iframe id="map" allowfullscreen src="https://framacarte.org/fr/map/pyconfr-2019_53531?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe><p><a href="https://framacarte.org/fr/map/pyconfr-2019_53531">Voir en plein écran</a></p>
{% endmacro %}
