{% macro description(company, lang) %}
  <div class="description">

  {% if lang == 'fr' %}

    {% if company == 'Clever Cloud' %}
      <p>
        Clever Cloud est une entreprise de PaaS Française. Nous aidons les
        développeurs à déployer leurs applications en production avec une
        infrastructure sans faille, à un prix juste et des fonctionnalités
        modernes comme la scalabilité automatique ou le blue-green
        deployment. Nous construisions un service facile à utiliser, sans
        verrou éditeur et pouvant grossir selon vos besoins.
      </p>
    {% elif company == 'Logilab' %}
      <p>
        Logilab <em>développe</em> des <em>logiciels</em>, et propose
        du <em>conseil</em> et des <em>formations</em> de haut niveau dans les
        domaines de l'<em>informatique scientifique</em> et du <em>web
        sémantique</em>, en utilisant des <em>outils et méthodes agiles</em>.
      </p>
      <p>
        Logilab s'est <em>spécialisée</em> dans l'utilisation de certains
        outils (<em>Python</em>, <em>CubicWeb</em>, <em>Debian</em>, etc.) et
        techniques (génie logiciel, programmation multi-paradigmes,
        statistiques, logique, etc.) pour les appliquer aux domaines de
        l'<em>informatique scientifique</em> (simulation numérique, calcul
        hautes performances, analyse de données, etc.) et du
        <em>web sémantique</em> (<em>gestion de connaissances</em>, agrégation
        de bases de données, outils de recherche et de veille, etc.).
      </p>
      <p>
        Les <em>formations</em> de <em>Logilab Campus</em> s'adressent en
        priorité aux ingénieurs, chercheurs et techniciens désireux d'accroître
        leur culture informatique. Elles couvrent des sujets variés (Python,
        conception orientée objet, méthodes de développement agiles, etc.) et
        sont systématiquement adaptées aux besoins des participants, qu'il
        s'agisse de sessions intra ou inter-entreprises.
      </p>
      <p>
        Logilab est un acteur du <em>Logiciel Libre</em> et met à disposition
        certains de ses développements sur ses
        sites <a href="https://logilab.org">logilab.org</a> et
        <a href="https://cubicweb.org">cubicweb.org</a>.
      </p>
    {% elif company == 'Entr\'ouvert' %}
      <p>
        Entr'ouvert est une société coopérative attachée à la démocratie
        d'entreprise.  Les salariés possèdent l'entreprise à parts égales, les
        décisions sont prises selon le principe « une personne = une
        voix ». Nous privilégions un fonctionnement organique, proche de celui
        qu'on retrouve dans les communautés du Logiciel Libre. Il s'agit d'un
        mode d'organisation confortable pour nous mais surtout efficace pour
        produire du logiciel libre.
      </p>
      <p>
        Entr'ouvert a une forte connaissance du Logiciel Libre, de ses
        communautés, ses principes, ses habitudes. Préserver et promouvoir
        l'écosystème du Logiciel Libre fait partie des objectifs de la
        structure.
      </p>
      <p>
        Entr'ouvert est éditeur d'une solution libre (GNU GPL) de Gestion de la
        Relation Usager, nommée Publik. Elle est utilisée par de très
        nombreuses villes et agglomérations, en France et en Belgique. Cette
        solution est développée en Python, sur le cadriciel Django ; outils
        quasi exclusifs dès qu'il faut développer quelque chose à Entr'ouvert.
      </p>
    {% elif company == 'PeopleDoc' %}
      <p>
        PeopleDoc, plateforme SaaS de digitalisation RH aide les entreprises à
        simplifier et fluidifier les processus administratifs entre RH et
        salariés. Sa mission : répondre plus vite et plus efficacement aux
        demandes des collaborateurs et managers, automatiser les processus RH
        de l’onboarding à l’off-boarding tout en garantissant une pleine
        conformité réglementaire, en France comme à l’étranger.
      </p>
      <p>
        En mode SaaS, PeopleDoc s’adapte à tous les environnements techniques
        SIRH/ERP et à toutes les organisations avec une durée moyenne de mise
        en place constatée entre 8 à 12 semaines seulement.
      </p>
      <p>
        Comptant plus de 725 clients dans 188 pays et douze langues opérées,
        PeopleDoc affiche aujourd’hui un taux de satisfaction et de rétention
        client de 100 %.
      </p>
    {% elif company == 'Oslandia' %}
      <p>
        Oslandia est une société innovante spécialisée en architecture SIG Open
        Source. Créée il y a 10 ans, Oslandia est une entreprise en croissance
        – environ +30 % par an - qui investit 20 % de son chiffre d’affaires en
        recherche et développement.
      </p>
      <p>
        Nous fournissons des prestations de service autour des logiciels Open
        Source dont nous sommes éditeurs ou experts reconnus.
      </p>
      <p>
        Oslandia propose une offre éditeur complète autour de QGIS, le logiciel
        bureautique SIG Open Source le plus utilisé au monde.
      </p>
      <p>
        Nous sommes également experts des systèmes SIG 3D (web, simulation),
        ainsi que dans le traitement de données, géostatistiques et
        Intelligence Artificielle.
      </p>
      <p>
        En savoir plus :
        Web : <a href="https://oslandia.com/">https://oslandia.com/</a> -
        Email : <a href="mailto:infos@oslandia.com">infos@oslandia.com</a>
      </p>
    {% elif company == 'Yaal' %}
      <p>
        Yaal conçoit en agilité des logiciels métiers, web et mobiles. Nous
        pouvons développer « à façon » ou adapter des solutions existantes à
        vos besoins et moyens.
      </p>
      <p>
        Tech angel, nous nous associons à des entreprises souhaitant proposer à
        leurs clients des solutions innovantes et techniquement viables. Nous
        investissons donc des ressources techniques contre des parts au
        capital. Cette posture d'investisseur est la garantie d'un engagement
        bienveillant et partial dans le projet développé.
      </p>
      <p>
        Nous assumons la direction technique et partageons ainsi le risque avec
        nos partenaires, en délivrant la bonne ressource au bon moment.
      </p>
      <p>
        Facilitateur technique, nous pouvons ponctuellement vous accompagner
        sur une mission de développement ou d'infogérance.
      </p>
      <p>
        Éditeur de logiciel, nous développons aussi nos propres outils. Par
        exemple, LivresdeProches compte aujourd'hui près de 50 000 livres
        référencés et 6 000 utilisateurs.
      </p>
      <p>
        Yaal s'adresse aux entreprises ayant déjà des clients, à des porteurs
        de projet startup souhaitant éprouver leur solution ou encore à des
        organisations ou associations de l'ESS.
      </p>
      <p>
        Installée tout près de la place de la Victoire à Bordeaux, Yaal emploie
        une trentaine de personnes.
      </p>
      <p>
        Porteurs de projets, entreprises locales ou nationales, associations ou
        organisations du développement durable, en phase d'amorçage ou de
        croissance, rencontrons-nous !
      </p>
    {% elif company == 'Gandi' %}
      <p>
        Créé en mars 2000, Gandi opère sur 3 continents, avec plus de 140
        salariés répartis entre Paris, Luxembourg, Munich, San Francisco et
        Taipei.
      </p>
      <p>
        Gandi est devenu en 20 ans l'un des plus gros vendeurs de noms de
        domaine dans le monde, avec plus de 2,5 millions de noms en gestion
        active en 2019 et un catalogue de plus de 750 extensions.
      </p>
      <p>
        Gandi fournit aussi bien les particuliers qui souhaitent personnaliser
        et professionnaliser leur présence sur Internet que les petites
        entreprises, les grands comptes et les institutionnels.
      </p>
      <p>
        La société est également autorité intermédiaire de certification SSL,
        gérant plus de 55 000 certificats.
      </p>
      <p>
        Gandi s'impose enfin depuis 2008 en hébergement Cloud grand
        public. Plus de 200 000 sites et services y sont aujourd’hui hébergés,
        répartis entre offre Simple Hosting en PaaS ( PMEs et particuliers), et
        offre IaaS (experts qui souhaitent maîtriser leur infrastructure). Ces
        offres professionnelles allient la puissance de ressources dédiées, une
        grande flexibilité quant au dimensionnement des serveurs et une
        sécurité optimale des données.
      </p>
    {% elif company == 'Université de Bordeaux' %}
      <p>
        Forte de ses 55 000 étudiants, 4 000 enseignants et chercheurs et 3 000
        personnels, l'Université de Bordeaux (UB) est un acteur majeur du
        territoire en lien avec le monde socio-économique, de la culture et de
        l'entreprise. L'université est internationale par nature, à travers ses
        échanges, ses projets, sa place en Europe et dans le monde. Elle est
        présente dans le monde numérique au travers de ses missions de
        formation et de recherche et porte notamment des initiatives vers le
        logiciel libre. Le projet BAIA, candidat à l’appel à manifestation
        d’intérêt 3IA (Instituts Interdisciplinaires d'Intelligence
        Artificielle), anime une dynamique impliquant des chercheurs des
        sciences et des technologies et de la santé, en collaboration avec des
        acteurs de l'industrie. C'est tout naturellement que UB s'est associé à
        l'évènement PyConFR 2019, avec la volonté de mettre le monde académique
        en lien avec les acteurs de la communauté Python.
      </p>
    {% elif company == 'Anybox' %}
      <p>
        Anybox est une entreprise en télétravail exclusif, organisée en Scrum
        et Holacracy. Nous fournissons des services et des développements
        spécifiques autour des <strong>ERP</strong> et <strong>applications
        web</strong> en Python et des infrastructures Docker pour
        l'<strong>hébergement</strong> et l'<strong>intégration
        continue</strong>. Nous développons sur divers frameworks comme Odoo,
        Django, Anyblok, Flask, Pyramid, VueJS. Nous intervenons également en
        <strong>conseil</strong> auprès des TPE et PME pour les accompagner
        dans leurs transitions numériques, agiles, organisationnelles ou
        managériales.
      </p>
    {% elif company == 'IT Link' %}
      <p>
        <strong>
          IT Link, première Entreprise de Services du Numérique spécialiste des
          systèmes connectés.
        </strong>
      </p>
      <p>
        Depuis plus de 30 ans, IT Link innove aux côtés des acteurs majeurs de
        l’industrie et des services.
      </p>
      <p>
        Notre mission : faire évoluer les systèmes connectés pour optimiser et
        créer les produits et services d’aujourd’hui et de demain.
      </p>
      <p>
        Notre savoir-faire repose sur 8 pôles d’excellence au cœur des systèmes
        connectés :
      </p>
      <ul>
        <li>
          Capteurs et intelligence embarquée
        </li>
        <li>
          Télécoms et IOT
        </li>
        <li>
          Valorisation de la Donnée
        </li>
        <li>
          Applications Mobiles
        </li>
        <li>
          Cybersécurité
        </li>
        <li>
          Systèmes d’Information Business
        </li>
        <li>
          Ingénierie Systèmes
        </li>
        <li>
          Management de la Transformation et nouvelles expériences utilisateurs
        </li>
      </ul>
      <p>
        IT Link c’est 600 collaborateurs sur 13 zones de présence en Europe et
        au Canada, une direction technique de pointe, 3 centres de R&amp;D et une
        présence boursière sur le marché Euronext depuis 1999.
      </p>
    {% elif company == 'Invivoo' %}
      <p>
        Dans un contexte toujours plus complexe, s’appuyer sur des solutions
        informatiques performantes est un enjeu vital pour nos clients. C’est
        pourquoi INVIVOO améliore leur système d’information à tous les niveaux
        – technique, méthodologique et organisationnel – en combinant
        l’expertise métier à l’expertise technologique. INVIVOO est également
        éditeur de la suite logicielle XComponent, destinée à la transformation
        digitale des différents services d’une DSI pour mieux satisfaire les
        clients et diminuer les tensions.
      </p>
      <p>
        Véritable communauté d’échange au sein de l’entreprise, l’expertise
        Python d’INVIVOO participe à différents événements au sein de son
        écosystème, organise des workshops et formations autour des usages du
        langage. Notre équipe se fera un plaisir d'échanger avec vous lors de
        l'événement où dans nos locaux bordelais ! Retrouvez l'essentiel de nos
        articles sur Python
        ici : <a href="https://blog.invivoo.com/category/expertise-programmation-python/">blog</a>.
      </p>
    {% elif company == 'Makina Corpus' %}
      <p>
        Makina Corpus conçoit et développe des solutions web et mobiles
        innovantes, en s’appuyant exclusivement sur des logiciels libres. La
        société s’est spécialisée dans le développement d’applications métiers,
        de portails complexes et de cartographies dynamiques.
      </p>
      <p>
        Makina Corpus place Python au cœur de sa stratégie technique depuis ses
        débuts et recrute parmi les meilleurs talents du secteur. Ses experts
        s’impliquent dans la communauté Python de manière pro-active à travers
        leur participations à des événements et leurs contributions Open
        Source.
      </p>
      <p>
        Offres d’emploi, réalisations et articles de blog, retrouvez toutes nos
        actualités sur notre site
        <a href="https://makina-corpus.com">makina-corpus.com</a>.
      </p>
    {% elif company == 'Tempo Consulting' %}
      <p>
        TeMPO Consulting est une société informatique proposant des solutions
        logicielles bâties à partir de composants Open Source.
      </p>
      <p>
        À la croisée des chemins entre la société de services et l’éditeur de
        logiciels, TeMPO Consulting est plus particulièrement spécialisée dans
        la mise en œuvre de solutions de gestion d’entreprise et de solutions
        Web.
      </p>
      <p>
        De l’éditeur, TeMPO Consulting possède le savoir-faire en proposant une
        offre de composants logiciels réutilisables et modulables, de la
        société de services TeMPO Consulting possède la flexibilité et la
        réactivité.
      </p>
      <p>
        Forte de ses compétences Python et programmation Web, la société TeMPO
        Consulting s’est résolument positionnée sur le logiciel ERP Odoo et le
        framework Django.
      </p>
      <p>
        Nos experts Django prennent en charge des projets simples ou complexes
        en utilisant tous les composants disponibles et en les complétant par
        la création de nouveaux modules le cas échéant.
      </p>
    {% elif company == 'Wifirst' %}
      <p>
        Wifirst est un opérateur télécom spécialisé dans la connectivité WiFi
        pour les professionnels (B2B).
      </p>
      <p>
        Wifirst connecte les hôtels, les campings, les résidences étudiantes,
        les bases de défense, les bureaux de poste et tous les établissements
        qui souhaitent offrir à leurs clients ou résidents une connexion
        internet sécurisée et performante ! La particularité de Wifirst est sa
        maîtrise totale de la chaîne de valeur : les produits et services sont
        pensés en interne par les cerveaux 🧠 R&amp;D et marketing, puis
        commercialisés par ses commerciaux talentueux 💬.
      </p>
      <p>
        Les interfaces sont conçues par l’UX UI et codées par ses développeurs
        👾 front et back end, ils gèrent aussi toute l’intelligence réseaux de
        Wifirst.
      </p>
      <p>
        Les auditeurs 👷 se déplacent partout en Europe pour expertiser les
        sites de nos clients avant que les « déployeurs » ne procèdent au
        déploiement et paf… ça fait du WiFi.
      </p>
      <p>
        Les équipes expérience client et exploitation veillent enfin à ce que
        tout fonctionne 👍 en toutes circonstances !
      </p>
    {% elif company == 'Algoo' %}
      <p>
        <strong>
          Algoo, éditeur de la plateforme de travail en équipe tracim.
        </strong>
      </p>

      <p>
        Algoo est un éditeur de logiciels libres qui développe et commercialise
        notamment la plateforme libre d’échange et travail en équipe
        <a href="https://www.tracim.fr">tracim</a>.
      </p>

      <p>
        Si vous voulez vous affranchir de google docs, google drive, dropbox,
        wetransfer, etc, tracim va vous aider. Si vous voulez garder ou
        reprendre le contrôle des données de votre entreprise ou association,
        tracim est fait pour vous.
      </p>

      <p>
        <strong>
          Étudiants, développeurs, ingénieurs : rejoignez la colonie !
        </strong>
      </p>

      <p>
        Le <a href="https://fr.wikipedia.org/wiki/Suricate">suricate</a> est la
        mascotte de l'entreprise. C'est un mammifère très social qui vit et
        s'organise en groupe. L'image colle tout à fait aux valeurs de
        l'entreprise et de ses produits : esprit d'équipe, entraide, partage
        des connaissances, du code source.
      </p>

      <p>
        Nous travaillons sur une stack
        Linux/PostgreSQL/Python3.7/Javascript/React ; si vous ressentez un fort
        intérêt pour l'une ou l'autre de ces technologies, <strong>envoyez-nous
        votre candidature pour un stage ou un poste en CDI</strong>.
      </p>

      <p>
        Vous rejoindrez alors la <em>seule et unique</em> colonie de suricates
        implantée sur l'agglomération grenobloise ;)
      </p>

      <p>
        <strong>Entreprises : construisons des synergies !</strong>
      </p>

      <p>
        Nous développons actuellement un réseau de partenaires pour la
        diffusion et la commercialisation de tracim auprès des entreprises,
        collectivités, universités et associations.
        <a href="mailto:bonjour%20at%20tracim%20point%20fr">Contactez-nous</a>
        et discutons de l'opportunité de collaborer !
      </p>
    {% elif company == 'JetBrains' %}
      <p>
        JetBrains crée des solutions logicielles qui rendent les développeurs
        plus efficaces et productifs. En automatisant les vérifications et
        corrections de routine, et en favorisant l’adoption des bonnes
        pratiques, nos outils leur permettent d’avoir plus de temps à consacrer
        à l’amélioration de leurs compétences et à la conception. Le code est
        notre passion et depuis plus de 18 ans notre objectif est de proposer
        les outils les plus fiables et performants au monde.
      </p>
      <p>
        Notre EDI PyCharm fournit une gamme complète d’outils pour le
        développement Python, Web et scientifique. Son édition gratuite et open
        source, PyCharm Community Edition, est conçue pour le codage Python
        pur. PyCharm Professional Edition s’adresse aux développeurs Python et
        Web professionnels. PyCharm Educational Edition aide les débutants à se
        familiariser facilement et rapidement avec Python.
      </p>
      <p>
        Aujourd’hui, JetBrains emploie plus de 1000 personnes dans le monde et
        compte plus de 5 millions de clients dans 225 pays. Kotlin, notre
        langage de programmation, est devenu un langage officiel pour le
        développement Android en 2017.
      </p>
    {% elif company == 'BackMarket' %}
      <p>
        Fondée en Novembre 2014, Back Market est la première place de marché
        européenne (et bientôt mondiale) exclusivement dédiée à la vente de
        produits électriques & électroniques entièrement remis à neuf.
      </p>
      <p>
        Notre mission est simple : construire une alternative grand public à
        l’achat d’appareils électriques et électroniques neufs. Et lutter ainsi
        contre la production exponentielle de déchets électroniques et contre
        l’obsolescence programmée.
      </p>
    {% elif company == 'MeilleursAgents' %}
      <p>
        MeilleursAgents s’est fixé pour mission de rendre l’immobilier beaucoup
        plus transparent, en faisant la lumière sur le prix des biens et la
        compétence des professionnels de l’immobilier. Le socle de
        l’entreprise repose sur la Data et la Science pour fournir
        l’information la plus fiable du marché aux particuliers. En 2018, un
        particulier vendeur sur deux estime son bien sur le site et 10 000
        agences immobilières ont souscrit à un abonnement à une vitrine
        digitale pour être visibles de ces futurs vendeurs.  Avec près de 2,5
        millions de visiteurs uniques par mois, MeilleursAgents est devenu la
        plateforme leader de la Proptech et est en train de transformer un
        secteur majeur de l’économie française.
      </p>
    {% elif company == 'Bearstech' %}
      <p>
        Société coopérative d’ingénieurs experts du logiciel libre depuis 2004,
        Bearstech est le prestataire pour l’hébergement &amp; l’infogérance de
        vos services et la mise en place de votre démarche DevOps et Cloud.
      </p>
      <p>
        Nous fournissons tous les services nécessaires pour gérer
        l’exploitation et le déploiement d’applications en ligne et en
        améliorer la sécurité, la rapidité et la fiabilité, aussi bien sur nos
        propres serveurs que sur des infrastructures externes (cloud en
        particulier).
      </p>
    {% endif %}

  {% elif lang == 'en' %}

    {% if company == 'Clever Cloud' %}
      <p>
        Clever Cloud help developers to deploy and run their apps with
        bulletproof infrastructure, automatic scaling, fair pricing and other
        cool features. We aim to make an easy-to-use service, without any
        vendor lock-in and able to grow with your needs.
      </p>
    {% elif company == 'Logilab' %}
      <p>
        <a href="https://www.logilab.fr/">Logilab</a> is an IT company
        specialized in advanced and scientific computing.
      </p>
      <p>
        By building on its expertise center, Logilab is able to implement
        software solutions and to propose high value services and trainings in
        such fields as advanced and scientific computing and knowledge
        management.
      </p>
      <p>
        Logilab’s expertise center has specialized in the use of several tools
        (Python, C, C++, etc.) and techniques (software engineering, agile
        project management, multi-paradigm programming, statistics, logic,
        etc.) and applies them to advanced computing (data analysis, numerical
        problem solving, simulation, etc.) and knowledge management (content
        management systems, workflow automation, database aggregation,
        indexation tools, documentation management, etc.).  Logilab’s training
        sessions are designed for engineers willing to enhance their computer
        science skills. They cover a wide range of topics (Python, XML,
        SaltStack, Object Oriented design and programming, C++, agile project
        management, etc.) and are always fine tuned to best suit the needs of
        attendees.
      </p>
      <p>
        Logilab is an actor in the Free/Open Source Software community. The
        company favors solutions built on Free/Open Source Software when they
        meet the needs of the end users, and guarantee the required stability
        of the systems. Some of the internal developments of the company are
        released as open source on Logilab's free software projects site
        <a href="http://www.logilab.org">http://www.logilab.org</a>.
      </p>
    {% elif company == 'Entr\'ouvert' %}
      <p>
        Entr'ouvert is a cooperative company attached to the principle of
        company democracy. Employees own the company in equal shares, decisions
        are taken based on the "1 vote per employee" principle. We privilege an
        organic operating mode, close to the one we find in a number of free
        software communities. This is an operating mode that is comfortable to
        us and overall efficient to produce free software.
      </p>
      <p>
        Entr'ouvert has a thorough knowledge of free software communities and
        their operating mode. Preserving and promoting the free software
        ecosystem is part of the structure purposes.
      </p>
      <p>
        Entr'ouvert is the publisher of a free (GNU GPL) Citizen-state
        Relationship Management, named Publik. It is used by many cities, in
        France and Belgium.  This solution is developed in Python, with the
        Django framework. At Entr'ouvert, Python and Django are the preferred
        tools when something needs to be written, be it a big software or a
        little script.
      </p>
    {% elif company == 'PeopleDoc' %}
      <p>
        PeopleDoc is on a mission to revolutionize how every HR function
        provide services to their employees.
      </p>
      <p>
        Our unique “state of the art” HR Service Delivery platform provides HR
        teams with the tools they need to provide great services while
        considerably decreasing the manual work behind the scenes and allowing
        companies to go paperless in their administration.
      </p>
      <p>
        The PeopleDoc HR Service Delivery platform helps HR teams more easily
        answer employee requests on demand, automate employee processes, across
        multiple locations.  PeopleDoc serves more than 1000 clients with
        employees in 180 countries in 12 languages. PeopleDoc is now a part of
        Ultimate Software. Ultimate Software is a Leader for Cloud HCM
        Applications.
      </p>
    {% elif company == 'Oslandia' %}
      <p>
        Oslandia is a high-tech company that offers strong technical expertise
        on open source GIS architectures. Oslandia is established since 10
        years, it is an independent French company showing a continuous growth
        - around 30% yearly - and invests 20% of its turnover into Research and
        Development activities.
      </p>
      <p>
        Oslandia is a pure OpenSource player, and our developments are 100%
        Free Software, with no licence fees and a reduced Total Cost of
        Ownership.
      </p>
      <p>
        Oslandia is an open source component publisher, and as such, provides a
        number of on-the-shelf services based on QGIS software, the most widely
        used open source GIS desktop tool in the world. Oslandia is one of the
        driving forces behind its expansion.
      </p>
      <p>
        Oslandia is also a technology company that capitalizes on several
        technical components and offers a full range of services for the whole
        software production chain: from consulting to assistance and training,
        through design and implementation.
      </p>
      <p>
        For more details:
        Web: <a href="https://oslandia.com/">https://oslandia.com/</a> -
        Email: <a href="mailto:infos@oslandia.com">infos@oslandia.com</a>
      </p>
    {% elif company == 'Yaal' %}
      <p>
        Yaal develops agile web and mobile software. We can design bespoke
        solutions or adapt existing products to your needs and means.
      </p>
      <p>
        As a Tech angel, we partner with companies wishing to offer their
        customers innovative and technically viable solutions. Therefore, we
        invest technical resources in exchange for equity. This investor
        posture is the guarantee of a benevolent and stakeholder commitment in
        the project.
      </p>
      <p>
        We handle the technical management and share the risks with our
        partners, delivering the right resource at the right time.
      </p>
      <p>
        As a Technical Facilitator, we can punctually pursue your development
        needs or outsourcing missions.
      </p>
      <p>
        As a Software publisher, we also develop our own tools. For example,
        ‘Livres de Proches’, a platform for sharing books, that now has nearly
        80,000 referenced books and 6,000 users.
      </p>
      <p>
        Yaal is the right fit for companies that already have customers,
        startup project developers wishing to improve their idea, or non-profit
        organizations that are environmentally and socially friendly.
      </p>
      <p>
        Located in Bordeaux, Yaal employs nearly thirty people.
      </p>
      <p>
        If your project needs a reliable and socially minded tech partner then
        let’s meet!
      </p>
    {% elif company == 'Gandi' %}
      <p>
        Founded in 2000, Gandi operates across three continents with 140
        employees in offices in Paris, Luxemburg, Munich, San Francisco, and
        Taipei. Gandi has become in 20 years one of the biggest domain name
        vendors in the world, with 2.5 million active domain names in 2019 and
        more than 750 available domain extensions.
      </p>
      <p>
        Gandi provides its services to individuals, small businesses, and large
        accounts looking to personalize and professionalize their web presence.
      </p>
      <p>
        Company is also a top SSL certificate authority, managing more than
        55,000 certificates.
      </p>
      <p>
        Since 2008, Gandi has expanded beyond domain name registration into the
        general consumer Cloud hosting market. Currently more than 200,000
        sites and services are hosted, split between Simple Hosting (Paas
        service) - small and medium-sized businesses as well as individuals -
        and Iaas services - dedicated to experts who control their hosting
        infrastructure.
      </p>
      <p>
        These professional offerings combine the power of dedicated resources,
        great flexibility in server sizing and optimal data security.
      </p>
    {% elif company == 'Université de Bordeaux' %}
      <p>
        With its 55,000 students, 4,000 teachers and researchers and 3,000
        staff, the University of Bordeaux (UB) is a major Nouvelle-Aquitaine
        player in connection with the socio-economic world, culture and
        business. The university is international in nature, through its
        exchanges, its projects, its place in Europe and in the world. It is
        present in the digital world through its training and research
        missions, proudly collaborating with the open source community. The
        BAIA project, UB's 3IA initiative (Interdisciplinary Institutes of
        Artificial Intelligence), builds on a community involving researchers
        in science and technology and health, in collaboration with industrial
        organizations. UB naturally joined the PyConFR 2019 event, with the aim
        of bringing the academic world into contact with the players in the
        python community.
      </p>
    {% elif company == 'Anybox' %}
      <p>
        Anybox is a distributed remote-only company, organized as an
        Holacracy. We provide services and custom developments around Python
        business applications and Docker clusters for hosting and Continuous
        Integration. Apart from our historical focus on Odoo, we also work on
        frameworks such as Django or Anyblok.
      </p>
    {% elif company == 'IT Link' %}
      <p>
        <strong>
          IT Link, the first digital services company specialized in Connected
          Systems.
        </strong>
      </p>
      <p>
        For more than 30 years, IT Link has been innovating alongside major
        players in industry and services.
      </p>
      <p>
        Our mission is to evolve connected systems in order to optimize and
        create the products and services for today and tomorrow.
      </p>
      <p>
        Our know-how is based on 8 branches of expertises at the heart of
        connected systems:
      </p>
      <ul>
        <li>
          Sensors and Embedded Intelligence
        </li>
        <li>
          Telecom and IOT
        </li>
        <li>
          Data Intelligence
        </li>
        <li>
          Mobile Applications
        </li>
        <li>
          Safety and Security
        </li>
        <li>
          Business Information Systems
        </li>
        <li>
          System Engineering
        </li>
        <li>
          Change Management and new user experiences
        </li>
      </ul>
      <p>
        IT Link has 600 employees based in 13 areas in Europe and Canada, a
        strong technical board, 3 R &amp; D centers and a presence in the
        Euronext stock market since 1999.
      </p>
    {% elif company == 'Invivoo' %}
      <p>
        In a complex environment, leaning on performing IT solutions is a vital
        stake for our clients.  That is the reason why at INVIVOO, we help our
        client in improving their Information System at all levels: technical,
        methodological and organizational, by combining functional and
        technical expertise. Moreover, INVIVOO is the software publisher of the
        XComponent suite intended for digital transformation of Information
        System Services, to satisfy our clients and dicrease stress.
      </p>
      <p>
        True corporate community, INVIVOO’s Python Expertise takes part of
        several events of his ecosystem and organize workshops, training about
        language’s practices. Want to learn more about us? Meet our team
        during PyConFR or come at our Bordeaux Office! Find all the article
        written by the expertise on
        our <a href="https://blog.invivoo.com/category/expertise-programmation-python/">blog</a>!
      </p>
    {% elif company == 'Makina Corpus' %}
      <p>
        Makina Corpus is a software engineering services company which designs,
        develops and integrates innovative web and mobile applications, relying
        exclusively on open source software.
      </p>
      <p>
        It is specialized in developing business applications, complex portals
        and dynamic mapping.
      </p>
      <p>
        Makina Corpus places Python at the heart of its technical strategy
        since its beginnings and recruits among the best talents of the
        sector. Its experts get involved in the Python community in a
        pro-active way through their participation in events and their Open
        Source contributions.
      </p>
      <p>
        Job offers, achievements and blog articles, you can read our news on
        <a href="https://makina-corpus.com">makina-corpus.com</a>.
      </p>
    {% elif company == 'Tempo Consulting' %}
      <p>
        TeMPO Consulting is an IT company offering software solutions built
        from Open Source components.
      </p>
      <p>
        At the crossroads between the service company and the software editor,
        TeMPO Consulting is more particularly specialized in the implementation
        of enterprise management solutions and web solutions.
      </p>
      <p>
        TeMPO Consulting has the know-how of the editor by offering reusable
        and scalable software components, and has flexibility and
        responsiveness of the service company.
      </p>
      <p>
        With its Python and Web programming skills, TeMPO Consulting is firmly
        positioned on the Odoo ERP software and the Django framework.
      </p>
      <p>
        Our Django experts support simple or complex projects by using all
        available components and complementing them by creating new modules if
        necessary.
      </p>
    {% elif company == 'Wifirst' %}
      <p>
        Wifirst has developed the leading super high speed WiFi platform. It
        operates several hundred thousand intuitive, secure, high-performance
        connected spaces in Europe and Africas.
      </p>
      <p>
        Wifirst has established itself as the no. 1 provider of managed WiFi in
        the Hospitality & Student accomodation market through constantly
        adapting its solution to meet the growing demands of users.
      </p>
      <p>
        Major players like AccorHotels, The Ascott, The French National Student
        Service (CROUS) and Nexity Studea have all entrusted Wifirst with
        meeting their connectivity needs.
      </p>
      <p>
        Wifirst also supports the French army, providing WiFi services to
        defence bases in France as well as to theatres of operations
        overseas. Lastly, Wifirst plans to speed up its growth by targeting the
        major bank, insurance and retail networks.
      </p>
      <ul>
        <li>650,000 units covered</li>
        <li>7,000 sites equipped in 2,430 cities</li>
        <li>130,000 WiFi access points monitored</li>
        <li>
          over 16,000 TB of data exchanged per month and collected on Wifirst
          owned and operated carrier grade, fully redundant core network.
        </li>
      </ul>
    {% elif company == 'Algoo' %}
      <p>
        <strong>
          Algoo is the editor of Tracim, a teamwork platform
        </strong>
      </p>

      <p>
        Algoo is a free software publisher who develops and markets the open
        source platform <a href="https://www.tracim.fr">tracim</a> for exchange
        and teamwork.
      </p>

      <p>
        If you want to get rid of google docs, google drive, dropbox,
        wetransfer, etc, tracim will help you. If you want to keep or take back
        control of your company or association's data, tracim is for you.
      </p>

      <p>
        <strong>
          Students, developers, engineers: join the colony!
        </strong>
      </p>

      <p>
        The <a href="https://en.wikipedia.org/wiki/Meerkat">meerkat</a> is the
        company's mascot. It is a very social mammal that lives and organizes
        itself in groups. The image is entirely in line with the values of the
        company and its products: team spirit, mutual support, knowledge
        sharing, source code.
      </p>

      <p>
        We are working on a Linux/PostgreSQL/Python3.7/Javascript/React stack;
        if you feel a strong interest for any of these
        technologies, <strong>send us your application for an internship or a
        permanent position</strong>.
      </p>

      <p>
        You will then join the <em>one and only</em> colony of meerkats located
        in the Grenoble area ;)
      </p>

      <p>
        <strong>Companies: let's build synergies!</strong>
      </p>

      <p>
        We are currently developing a network of partners for the distribution
        and marketing of tracim to companies, communities, universities and
        associations. <a href="mailto:bonjour%20at%20tracim%20dot%20fr">Contact
        us</a> and let's discuss the opportunity to collaborate!
      </p>
    {% elif company == 'JetBrains' %}
      <p>
        JetBrains creates software solutions that make developers more
        efficient and productive. By automating routine checks and corrections,
        and by fostering best practises adoption, our tools enable developers
        to dedicate more time to improve their skills, experiment and
        create. Code is our passion and for more than 18 years our ambition is
        to deliver the most effective and reliable development tools in the
        world.
      </p>
      <p>
        Our PyCharm IDE provides a complete set of tools set for Python, Web et
        scientific development. The free and open-source PyCharm Community
        Edition is best for pure Python coding. PyCharm Professional Edition is
        designed for professional Python and Web developers. PyCharm
        Educational Edition helps novice programmers to learn programming with
        Python easily and effectively.
      </p>
      <p>
        Today JetBrains has more than 1,000 employees worlwide and more than 5
        million customers in 225 countries trust our tools and use them
        daily. Kotlin, our own programming language, became an official
        language for Android development in 2017.
      </p>
    {% elif company == 'BackMarket' %}
      <p>
        Born in 2014, Back Market is the first marketplace exclusively
        dedicated to refurbished products, giving pre-loved electronic devices
        and appliances a second life.
      </p>
      <p>
        Our mission is simple: Give consumers a real and sustainable
        alternative to buying new electronic devices and appliances. And combat
        the global electronic waste crisis by fighting against planned
        obsolescence.
      </p>
    {% elif company == 'MeilleursAgents' %}
      <p>
        MeilleursAgents is a platform that allows people who want to sell their
        property to connect with real estate agencies that best fit their needs
        and requirements. In addition, MeilleursAgents also offers an online
        tool to estimate property prices, various mapping of rent prices as
        well as a map showing price per square meter around each subway
        station. Thanks to this wide range of information the company has
        become the number one destination site in France for anyone looking for
        the right price of real estate or the most relevant estate agent with 2
        million unique visitors per month and 10,000 agencies listed.
      </p>
    {% elif company == 'Bearstech' %}
      <p>
        Bearstech is a worker owned company (SCOP) of free software experts.
        Operating since 2004, Bearstech is the ideal provider for managing your
        web infrastructure and implementating your Cloud and DevOps endeavors.
      </p>
      <p>
        We provide all the necessary services for the operation and the
        deployment of web applications while improving their security,
        velocity, and reliability.  We apply our expertise on our own
        infrastructure as well as on external cloud provider platforms.
      </p>
    {% endif %}

  {% endif %}
  </div>
{% endmacro %}

{% macro sponsors(lang, only_logo=False) %}
  {% set levels = {
  'Platine' if lang == 'fr' else 'Platinum': {
    'Université de Bordeaux': 'https://www.u-bordeaux.fr/Universite',
  },

  'Or' if lang == 'fr' else 'Gold': {
    'Clever Cloud': 'https://www.clever-cloud.com/',
    'Invivoo': 'https://www.invivoo.com/',
    'JetBrains': 'https://www.jetbrains.com/',
    'BackMarket': 'https://www.backmarket.com/',
  },

  'Argent' if lang == 'fr' else 'Silver': {
    'Logilab': 'https://www.logilab.fr/',
    'Entr\'ouvert': 'http://www.entrouvert.com/',
    'PeopleDoc': 'https://www.people-doc.fr/',
    'Yaal': 'https://yaal.fr/',
    'Makina Corpus': 'https://makina-corpus.com',
    'MeilleursAgents': 'https://www.meilleursagents.com',
  },

  'Bronze': {
    'Oslandia': 'https://oslandia.com/',
    'Gandi': 'https://www.gandi.net',
    'Anybox': 'https://www.anybox.fr/',
    'IT Link': 'https://www.itlink.fr/',
    'Wifirst': 'https://www.wifirst.com/',
    'Tempo Consulting': 'http://www.tempo-consulting.fr/',
    'Algoo': 'https://www.algoo.fr/',
    'Bearstech': 'https://bearstech.com/',
  },

  'Cœur' if lang == 'fr' else 'Heart': {
    'Mergify': 'https://mergify.io/',
    'OctopusMind': 'https://www.octopusmind.info/',
    'Alves-Info': '',
  },

  'Partenaires' if lang == 'fr' else 'Partners':
  {
    'Python Software Foundation': 'https://www.python.org/psf-landing/',
    'Sticker Mule': 'https://stickermule.com/supports/pyconfr19-sponsorship',
    'GNU/Linux Magazine': 'https://www.gnulinuxmag.com/',
  },
  } %}

  {% set png_logos = ('Invivoo',) %}

  {% if lang == 'fr' %}
    <p class="text-center">
      Vous souhaitez nous soutenir ?
      <a href="{{ url_for('page', name='support', lang=lang)}}">Devenez sponsor</a> et
      offrez à votre entreprise une plus grande visibilité lors de cet événement.
    </p>
  {% else %}
    <p class="text-center">
      If you wish to support us, please
      <a href="{{ url_for('page', name='support', lang=lang)}}">become sponsor</a> to
      offer a wider visibility to your enterprise during this event.
    </p>
  {% endif %}

  {% for level, companies in levels.items() %}
    {% if companies %}
      <section class="sponsors">
        <h3>{{ level }}</h3>
        <section>
        {% for company, link in companies.items() %}
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
              <div class="sponsor">
                <h4>{{ company }}</h4>
            {% endif %}
            {% if link %}
              <a href="{{ link }}" class="logo">
            {% endif %}
              <img src="{{ url_for('static', filename='images/partners/{}.{}'.format(company.replace('/', '-'), 'png' if company in png_logos else 'svg')) }}" alt="Logo {{ company }}" />
            {% if link %}
              </a>
            {% endif %}
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
                {{ description(company, lang) }}
              </div>
            {% endif %}
        {% endfor %}
        </section>
      {% endif %}
    </section>
  {% endfor %}
{% endmacro %}
