{% macro description(company, lang) %}
  <div class="description">

  {% if lang == 'fr' %}

    {% if company == 'Clever Cloud' %}
      <p>
        Clever Cloud est une entreprise de PaaS Française. Nous aidons les
        développeurs à déployer leurs applications en production avec une
        infrastructure sans faille, à un prix juste et des fonctionnalités
        modernes comme la scalabilité automatique ou le blue-green
        deployment. Nous construisions un service facile à utiliser, sans
        verrou éditeur et pouvant grossir selon vos besoins.
      </p>
    {% elif company == 'Logilab' %}
      <p>
        Logilab <em>développe</em> des <em>logiciels</em>, et propose
        du <em>conseil</em> et des <em>formations</em> de haut niveau dans les
        domaines de l'<em>informatique scientifique</em> et du <em>web
        sémantique</em>, en utilisant des <em>outils et méthodes agiles</em>.
      </p>
      <p>
        Logilab s'est <em>spécialisée</em> dans l'utilisation de certains
        outils (<em>Python</em>, <em>CubicWeb</em>, <em>Debian</em>, etc.) et
        techniques (génie logiciel, programmation multi-paradigmes,
        statistiques, logique, etc.) pour les appliquer aux domaines de
        l'<em>informatique scientifique</em> (simulation numérique, calcul
        hautes performances, analyse de données, etc.) et du
        <em>web sémantique</em> (<em>gestion de connaissances</em>, agrégation
        de bases de données, outils de recherche et de veille, etc.).
      </p>
      <p>
        Les <em>formations</em> de <em>Logilab Campus</em> s'adressent en
        priorité aux ingénieurs, chercheurs et techniciens désireux d'accroître
        leur culture informatique. Elles couvrent des sujets variés (Python,
        conception orientée objet, méthodes de développement agiles, etc.) et
        sont systématiquement adaptées aux besoins des participants, qu'il
        s'agisse de sessions intra ou inter-entreprises.
      </p>
      <p>
        Logilab est un acteur du <em>Logiciel Libre</em> et met à disposition
        certains de ses développements sur ses
        sites <a href="https://logilab.org">logilab.org</a> et
        <a href="https://cubicweb.org">cubicweb.org</a>.
      </p>
    {% elif company == 'Entr\'ouvert' %}
      <p>
        Entr'ouvert est une société coopérative attachée à la démocratie
        d'entreprise.  Les salariés possèdent l'entreprise à parts égales, les
        décisions sont prises selon le principe « une personne = une
        voix ». Nous privilégions un fonctionnement organique, proche de celui
        qu'on retrouve dans les communautés du Logiciel Libre. Il s'agit d'un
        mode d'organisation confortable pour nous mais surtout efficace pour
        produire du logiciel libre.
      </p>
      <p>
        Entr'ouvert a une forte connaissance du Logiciel Libre, de ses
        communautés, ses principes, ses habitudes. Préserver et promouvoir
        l'écosystème du Logiciel Libre fait partie des objectifs de la
        structure.
      </p>
      <p>
        Entr'ouvert est éditeur d'une solution libre (GNU GPL) de Gestion de la
        Relation Usager, nommée Publik. Elle est utilisée par de très
        nombreuses villes et agglomérations, en France et en Belgique. Cette
        solution est développée en Python, sur le cadriciel Django ; outils
        quasi exclusifs dès qu'il faut développer quelque chose à Entr'ouvert.
      </p>
    {% elif company == 'PeopleDoc' %}
      <p>
        PeopleDoc, plateforme SaaS de digitalisation RH aide les entreprises à
        simplifier et fluidifier les processus administratifs entre RH et
        salariés. Sa mission : répondre plus vite et plus efficacement aux
        demandes des collaborateurs et managers, automatiser les processus RH
        de l’onboarding à l’off-boarding tout en garantissant une pleine
        conformité réglementaire, en France comme à l’étranger.
      </p>
      <p>
        En mode SaaS, PeopleDoc s’adapte à tous les environnements techniques
        SIRH/ERP et à toutes les organisations avec une durée moyenne de mise
        en place constatée entre 8 à 12 semaines seulement.
      </p>
      <p>
        Comptant plus de 725 clients dans 188 pays et douze langues opérées,
        PeopleDoc affiche aujourd’hui un taux de satisfaction et de rétention
        client de 100 %.
      </p>
    {% elif company == 'Oslandia' %}
      <p>
        Oslandia est une société innovante spécialisée en architecture SIG Open
        Source. Créée il y a 10 ans, Oslandia est une entreprise en croissance
        – environ +30 % par an - qui investit 20 % de son chiffre d’affaires en
        recherche et développement.
      </p>
      <p>
        Nous fournissons des prestations de service autour des logiciels Open
        Source dont nous sommes éditeurs ou experts reconnus.
      </p>
      <p>
        Oslandia propose une offre éditeur complète autour de QGIS, le logiciel
        bureautique SIG Open Source le plus utilisé au monde.
      </p>
      <p>
        Nous sommes également experts des systèmes SIG 3D (web, simulation),
        ainsi que dans le traitement de données, géostatistiques et
        Intelligence Artificielle.
      </p>
      <p>
        En savoir plus :
        Web : <a href="https://oslandia.com/">https://oslandia.com/</a> -
        Email : <a href="mailto:infos@oslandia.com">infos@oslandia.com</a>
      </p>
    {% elif company == 'Yaal' %}
      <p>
        Yaal conçoit en agilité des logiciels métiers, web et mobiles. Nous
        pouvons développer « à façon » ou adapter des solutions existantes à
        vos besoins et moyens.
      </p>
      <p>
        Tech angel, nous nous associons à des entreprises souhaitant proposer à
        leurs clients des solutions innovantes et techniquement viables. Nous
        investissons donc des ressources techniques contre des parts au
        capital. Cette posture d'investisseur est la garantie d'un engagement
        bienveillant et partial dans le projet développé.
      </p>
      <p>
        Nous assumons la direction technique et partageons ainsi le risque avec
        nos partenaires, en délivrant la bonne ressource au bon moment.
      </p>
      <p>
        Facilitateur technique, nous pouvons ponctuellement vous accompagner
        sur une mission de développement ou d'infogérance.
      </p>
      <p>
        Éditeur de logiciel, nous développons aussi nos propres outils. Par
        exemple, LivresdeProches compte aujourd'hui près de 50 000 livres
        référencés et 6 000 utilisateurs.
      </p>
      <p>
        Yaal s'adresse aux entreprises ayant déjà des clients, à des porteurs
        de projet startup souhaitant éprouver leur solution ou encore à des
        organisations ou associations de l'ESS.
      </p>
      <p>
        Installée tout près de la place de la Victoire à Bordeaux, Yaal emploie
        une trentaine de personnes.
      </p>
      <p>
        Porteurs de projets, entreprises locales ou nationales, associations ou
        organisations du développement durable, en phase d'amorçage ou de
        croissance, rencontrons-nous !
      </p>
    {% elif company == 'Gandi' %}
      <p>
        Créé en mars 2000, Gandi opère sur 3 continents, avec plus de 140
        salariés répartis entre Paris, Luxembourg, Munich, San Francisco et
        Taipei.
      </p>
      <p>
        Gandi est devenu en 20 ans l'un des plus gros vendeurs de noms de
        domaine dans le monde, avec plus de 2,5 millions de noms en gestion
        active en 2019 et un catalogue de plus de 750 extensions.
      </p>
      <p>
        Gandi fournit aussi bien les particuliers qui souhaitent personnaliser
        et professionnaliser leur présence sur Internet que les petites
        entreprises, les grands comptes et les institutionnels.
      </p>
      <p>
        La société est également autorité intermédiaire de certification SSL,
        gérant plus de 55 000 certificats.
      </p>
      <p>
        Gandi s'impose enfin depuis 2008 en hébergement Cloud grand
        public. Plus de 200 000 sites et services y sont aujourd’hui hébergés,
        répartis entre offre Simple Hosting en PaaS ( PMEs et particuliers), et
        offre IaaS (experts qui souhaitent maîtriser leur infrastructure). Ces
        offres professionnelles allient la puissance de ressources dédiées, une
        grande flexibilité quant au dimensionnement des serveurs et une
        sécurité optimale des données.
      </p>
    {% elif company == 'Université de Bordeaux' %}
      <p>
        Forte de ses 55 000 étudiants, 4 000 enseignants et chercheurs et 3 000
        personnels, l'Université de Bordeaux (UB) est un acteur majeur du
        territoire en lien avec le monde socio-économique, de la culture et de
        l'entreprise. L'université est internationale par nature, à travers ses
        échanges, ses projets, sa place en Europe et dans le monde. Elle est
        présente dans le monde numérique au travers de ses missions de
        formation et de recherche et porte notamment des initiatives vers le
        logiciel libre. Le projet BAIA, candidat à l’appel à manifestation
        d’intérêt 3IA (Instituts Interdisciplinaires d'Intelligence
        Artificielle), anime une dynamique impliquant des chercheurs des
        sciences et des technologies et de la santé, en collaboration avec des
        acteurs de l'industrie. C'est tout naturellement que UB s'est associé à
        l'évènement PyConFR 2019, avec la volonté de mettre le monde académique
        en lien avec les acteurs de la communauté Python.
      </p>
    {% elif company == 'Anybox' %}
      <p>
        Anybox est une entreprise en télétravail exclusif, organisée en Scrum
        et Holacracy. Nous fournissons des services et des développements
        spécifiques autour des <strong>ERP</strong> et <strong>applications
        web</strong> en Python et des infrastructures Docker pour
        l'<strong>hébergement</strong> et l'<strong>intégration
        continue</strong>. Nous développons sur divers frameworks comme Odoo,
        Django, Anyblok, Flask, Pyramid, VueJS. Nous intervenons également en
        <strong>conseil</strong> auprès des TPE et PME pour les accompagner
        dans leurs transitions numériques, agiles, organisationnelles ou
        managériales.
      </p>
    {% elif company == 'IT Link' %}
      <p>
        <strong>
          IT Link, première Entreprise de Services du Numérique spécialiste des
          systèmes connectés.
        </strong>
      </p>
      <p>
        Depuis plus de 30 ans, IT Link innove aux côtés des acteurs majeurs de
        l’industrie et des services.
      </p>
      <p>
        Notre mission : faire évoluer les systèmes connectés pour optimiser et
        créer les produits et services d’aujourd’hui et de demain.
      </p>
      <p>
        Notre savoir-faire repose sur 8 pôles d’excellence au cœur des systèmes
        connectés :
      </p>
      <ul>
        <li>
          Capteurs et intelligence embarquée
        </li>
        <li>
          Télécoms et IOT
        </li>
        <li>
          Valorisation de la Donnée
        </li>
        <li>
          Applications Mobiles
        </li>
        <li>
          Cybersécurité
        </li>
        <li>
          Systèmes d’Information Business
        </li>
        <li>
          Ingénierie Systèmes
        </li>
        <li>
          Management de la Transformation et nouvelles expériences utilisateurs
        </li>
      </ul>
      <p>
        IT Link c’est 600 collaborateurs sur 13 zones de présence en Europe et
        au Canada, une direction technique de pointe, 3 centres de R&amp;D et une
        présence boursière sur le marché Euronext depuis 1999.
      </p>
    {% elif company == 'Invivoo' %}
      <p>
        Dans un contexte toujours plus complexe, s’appuyer sur des solutions
        informatiques performantes est un enjeu vital pour nos clients. C’est
        pourquoi INVIVOO améliore leur système d’information à tous les niveaux
        – technique, méthodologique et organisationnel – en combinant
        l’expertise métier à l’expertise technologique. INVIVOO est également
        éditeur de la suite logicielle XComponent, destinée à la transformation
        digitale des différents services d’une DSI pour mieux satisfaire les
        clients et diminuer les tensions.
      </p>
      <p>
        Véritable communauté d’échange au sein de l’entreprise, l’expertise
        Python d’INVIVOO participe à différents événements au sein de son
        écosystème, organise des workshops et formations autour des usages du
        langage. Notre équipe se fera un plaisir d'échanger avec vous lors de
        l'événement où dans nos locaux bordelais ! Retrouvez l'essentiel de nos
        articles sur Python
        ici : <a href="https://blog.invivoo.com/category/expertise-programmation-python/">blog</a>.
      </p>
    {% elif company == 'Makina Corpus' %}
      <p>
        Makina Corpus conçoit et développe des solutions web et mobiles
        innovantes, en s’appuyant exclusivement sur des logiciels libres. La
        société s’est spécialisée dans le développement d’applications métiers,
        de portails complexes et de cartographies dynamiques.
      </p>
      <p>
        Makina Corpus place Python au cœur de sa stratégie technique depuis ses
        débuts et recrute parmi les meilleurs talents du secteur. Ses experts
        s’impliquent dans la communauté Python de manière pro-active à travers
        leur participations à des événements et leurs contributions Open
        Source.
      </p>
      <p>
        Offres d’emploi, réalisations et articles de blog, retrouvez toutes nos
        actualités sur notre site
        <a href="https://makina-corpus.com">makina-corpus.com</a>.
      </p>
    {% endif %}

  {% elif lang == 'en' %}

    {% if company == 'Clever Cloud' %}
      <p>
        Clever Cloud help developers to deploy and run their apps with
        bulletproof infrastructure, automatic scaling, fair pricing and other
        cool features. We aim to make an easy-to-use service, without any
        vendor lock-in and able to grow with your needs.
      </p>
    {% elif company == 'Logilab' %}
      <p>
        <a href="https://www.logilab.fr/">Logilab</a> is an IT company
        specialized in advanced and scientific computing.
      </p>
      <p>
        By building on its expertise center, Logilab is able to implement
        software solutions and to propose high value services and trainings in
        such fields as advanced and scientific computing and knowledge
        management.
      </p>
      <p>
        Logilab’s expertise center has specialized in the use of several tools
        (Python, C, C++, etc.) and techniques (software engineering, agile
        project management, multi-paradigm programming, statistics, logic,
        etc.) and applies them to advanced computing (data analysis, numerical
        problem solving, simulation, etc.) and knowledge management (content
        management systems, workflow automation, database aggregation,
        indexation tools, documentation management, etc.).  Logilab’s training
        sessions are designed for engineers willing to enhance their computer
        science skills. They cover a wide range of topics (Python, XML,
        SaltStack, Object Oriented design and programming, C++, agile project
        management, etc.) and are always fine tuned to best suit the needs of
        attendees.
      </p>
      <p>
        Logilab is an actor in the Free/Open Source Software community. The
        company favors solutions built on Free/Open Source Software when they
        meet the needs of the end users, and guarantee the required stability
        of the systems. Some of the internal developments of the company are
        released as open source on Logilab's free software projects site
        <a href="http://www.logilab.org">http://www.logilab.org</a>.
      </p>
    {% elif company == 'Entr\'ouvert' %}
      <p>
        Entr'ouvert is a cooperative company attached to the principle of
        company democracy. Employees own the company in equal shares, decisions
        are taken based on the "1 vote per employee" principle. We privilege an
        organic operating mode, close to the one we find in a number of free
        software communities. This is an operating mode that is comfortable to
        us and overall efficient to produce free software.
      </p>
      <p>
        Entr'ouvert has a thorough knowledge of free software communities and
        their operating mode. Preserving and promoting the free software
        ecosystem is part of the structure purposes.
      </p>
      <p>
        Entr'ouvert is the publisher of a free (GNU GPL) Citizen-state
        Relationship Management, named Publik. It is used by many cities, in
        France and Belgium.  This solution is developed in Python, with the
        Django framework. At Entr'ouvert, Python and Django are the preferred
        tools when something needs to be written, be it a big software or a
        little script.
      </p>
    {% elif company == 'PeopleDoc' %}
      <p>
        PeopleDoc is on a mission to revolutionize how every HR function
        provide services to their employees.
      </p>
      <p>
        Our unique “state of the art” HR Service Delivery platform provides HR
        teams with the tools they need to provide great services while
        considerably decreasing the manual work behind the scenes and allowing
        companies to go paperless in their administration.
      </p>
      <p>
        The PeopleDoc HR Service Delivery platform helps HR teams more easily
        answer employee requests on demand, automate employee processes, across
        multiple locations.  PeopleDoc serves more than 1000 clients with
        employees in 180 countries in 12 languages. PeopleDoc is now a part of
        Ultimate Software. Ultimate Software is a Leader for Cloud HCM
        Applications.
      </p>
    {% elif company == 'Oslandia' %}
      <p>
        Oslandia is a high-tech company that offers strong technical expertise
        on open source GIS architectures. Oslandia is established since 10
        years, it is an independent French company showing a continuous growth
        - around 30% yearly - and invests 20% of its turnover into Research and
        Development activities.
      </p>
      <p>
        Oslandia is a pure OpenSource player, and our developments are 100%
        Free Software, with no licence fees and a reduced Total Cost of
        Ownership.
      </p>
      <p>
        Oslandia is an open source component publisher, and as such, provides a
        number of on-the-shelf services based on QGIS software, the most widely
        used open source GIS desktop tool in the world. Oslandia is one of the
        driving forces behind its expansion.
      </p>
      <p>
        Oslandia is also a technology company that capitalizes on several
        technical components and offers a full range of services for the whole
        software production chain: from consulting to assistance and training,
        through design and implementation.
      </p>
      <p>
        For more details:
        Web: <a href="https://oslandia.com/">https://oslandia.com/</a> -
        Email: <a href="mailto:infos@oslandia.com">infos@oslandia.com</a>
      </p>
    {% elif company == 'Yaal' %}
      <p>
        Yaal develops agile web and mobile software. We can design bespoke
        solutions or adapt existing products to your needs and means.
      </p>
      <p>
        As a Tech angel, we partner with companies wishing to offer their
        customers innovative and technically viable solutions. Therefore, we
        invest technical resources in exchange for equity. This investor
        posture is the guarantee of a benevolent and stakeholder commitment in
        the project.
      </p>
      <p>
        We handle the technical management and share the risks with our
        partners, delivering the right resource at the right time.
      </p>
      <p>
        As a Technical Facilitator, we can punctually pursue your development
        needs or outsourcing missions.
      </p>
      <p>
        As a Software publisher, we also develop our own tools. For example,
        ‘Livres de Proches’, a platform for sharing books, that now has nearly
        80,000 referenced books and 6,000 users.
      </p>
      <p>
        Yaal is the right fit for companies that already have customers,
        startup project developers wishing to improve their idea, or non-profit
        organizations that are environmentally and socially friendly.
      </p>
      <p>
        Located in Bordeaux, Yaal employs nearly thirty people.
      </p>
      <p>
        If your project needs a reliable and socially minded tech partner then
        let’s meet!
      </p>
    {% elif company == 'Gandi' %}
      <p>
        Founded in 2000, Gandi operates across three continents with 140
        employees in offices in Paris, Luxemburg, Munich, San Francisco, and
        Taipei. Gandi has become in 20 years one of the biggest domain name
        vendors in the world, with 2.5 million active domain names in 2019 and
        more than 750 available domain extensions.
      </p>
      <p>
        Gandi provides its services to individuals, small businesses, and large
        accounts looking to personalize and professionalize their web presence.
      </p>
      <p>
        Company is also a top SSL certificate authority, managing more than
        55,000 certificates.
      </p>
      <p>
        Since 2008, Gandi has expanded beyond domain name registration into the
        general consumer Cloud hosting market. Currently more than 200,000
        sites and services are hosted, split between Simple Hosting (Paas
        service) - small and medium-sized businesses as well as individuals -
        and Iaas services - dedicated to experts who control their hosting
        infrastructure.
      </p>
      <p>
        These professional offerings combine the power of dedicated resources,
        great flexibility in server sizing and optimal data security.
      </p>
    {% elif company == 'Université de Bordeaux' %}
      <p>
        With its 55,000 students, 4,000 teachers and researchers and 3,000
        staff, the University of Bordeaux (UB) is a major Nouvelle-Aquitaine
        player in connection with the socio-economic world, culture and
        business. The university is international in nature, through its
        exchanges, its projects, its place in Europe and in the world. It is
        present in the digital world through its training and research
        missions, proudly collaborating with the open source community. The
        BAIA project, UB's 3IA initiative (Interdisciplinary Institutes of
        Artificial Intelligence), builds on a community involving researchers
        in science and technology and health, in collaboration with industrial
        organizations. UB naturally joined the PyConFR 2019 event, with the aim
        of bringing the academic world into contact with the players in the
        python community.
      </p>
    {% elif company == 'Anybox' %}
      <p>
        Anybox is a distributed remote-only company, organized as an
        Holacracy. We provide services and custom developments around Python
        business applications and Docker clusters for hosting and Continuous
        Integration. Apart from our historical focus on Odoo, we also work on
        frameworks such as Django or Anyblok.
      </p>
    {% elif company == 'IT Link' %}
      <p>
        <strong>
          IT Link, the first digital services company specialized in Connected
          Systems.
        </strong>
      </p>
      <p>
        For more than 30 years, IT Link has been innovating alongside major
        players in industry and services.
      </p>
      <p>
        Our mission is to evolve connected systems in order to optimize and
        create the products and services for today and tomorrow.
      </p>
      <p>
        Our know-how is based on 8 branches of expertises at the heart of
        connected systems:
      </p>
      <ul>
        <li>
          Sensors and Embedded Intelligence
        </li>
        <li>
          Telecom and IOT
        </li>
        <li>
          Data Intelligence
        </li>
        <li>
          Mobile Applications
        </li>
        <li>
          Safety and Security
        </li>
        <li>
          Business Information Systems
        </li>
        <li>
          System Engineering
        </li>
        <li>
          Change Management and new user experiences
        </li>
      </ul>
      <p>
        IT Link has 600 employees based in 13 areas in Europe and Canada, a
        strong technical board, 3 R &amp; D centers and a presence in the
        Euronext stock market since 1999.
      </p>
    {% elif company == 'Invivoo' %}
      <p>
        In a complex environment, leaning on performing IT solutions is a vital
        stake for our clients.  That is the reason why at INVIVOO, we help our
        client in improving their Information System at all levels: technical,
        methodological and organizational, by combining functional and
        technical expertise. Moreover, INVIVOO is the software publisher of the
        XComponent suite intended for digital transformation of Information
        System Services, to satisfy our clients and dicrease stress.
      </p>
      <p>
        True corporate community, INVIVOO’s Python Expertise takes part of
        several events of his ecosystem and organize workshops, training about
        language’s practices. Want to learn more about us? Meet our team
        during PyConFR or come at our Bordeaux Office! Find all the article
        written by the expertise on
        our <a href="https://blog.invivoo.com/category/expertise-programmation-python/">blog</a>!
      </p>
    {% elif company == 'Makina Corpus' %}
      <p>
        Makina Corpus is a software engineering services company which designs,
        develops and integrates innovative web and mobile applications, relying
        exclusively on open source software.
      </p>
      <p>
        It is specialized in developing business applications, complex portals
        and dynamic mapping.
      </p>
      <p>
        Makina Corpus places Python at the heart of its technical strategy
        since its beginnings and recruits among the best talents of the
        sector. Its experts get involved in the Python community in a
        pro-active way through their participation in events and their Open
        Source contributions.
      </p>
      <p>
        Job offers, achievements and blog articles, you can read our news on
        <a href="https://makina-corpus.com">makina-corpus.com</a>.
      </p>
    {% endif %}

  {% endif %}
  </div>
{% endmacro %}

{% macro sponsors(lang, only_logo=False) %}
  {% set levels = {
  'Platine' if lang == 'fr' else 'Platinum': {
    'Université de Bordeaux': 'https://www.u-bordeaux.fr/Universite',
  },

  'Or' if lang == 'fr' else 'Gold': {
    'Clever Cloud': 'https://www.clever-cloud.com/',
    'Invivoo': 'https://www.invivoo.com/',
  },

  'Argent' if lang == 'fr' else 'Silver': {
    'Logilab': 'https://www.logilab.fr/',
    'Entr\'ouvert': 'http://www.entrouvert.com/',
    'PeopleDoc': 'https://www.people-doc.fr/',
    'Yaal': 'https://yaal.fr/',
    'Makina Corpus': 'https://makina-corpus.com',
  },

  'Bronze': {
    'Oslandia': 'https://oslandia.com/',
    'Gandi': 'https://www.gandi.net',
    'Anybox': 'https://www.anybox.fr/',
    'IT Link': 'https://www.itlink.fr/',
  },

  'Cœur' if lang == 'fr' else 'Heart': {
    'Mergify': 'https://mergify.io/',
    'OctopusMind': 'https://www.octopusmind.info/',
  },

  'Partenaires' if lang == 'fr' else 'Partners':
  {
    'Python Software Foundation': 'https://www.python.org/psf-landing/',
    'Sticker Mule': 'https://stickermule.com/supports/pyconfr19-sponsorship',
    'GNU/Linux Magazine': 'https://www.gnulinuxmag.com/',
  },
  } %}

  {% set png_logos = ('Invivoo',) %}

  {% if lang == 'fr' %}
    <p class="text-center">
      Vous souhaitez nous soutenir ?
      <a href="{{ url_for('page', name='support', lang=lang)}}">Devenez sponsor</a> et
      offrez à votre entreprise une plus grande visibilité lors de cet événement.
    </p>
  {% else %}
    <p class="text-center">
      If you wish to support us, please
      <a href="{{ url_for('page', name='support', lang=lang)}}">become sponsor</a> to
      offer a wider visibility to your enterprise during this event.
    </p>
  {% endif %}

  {% for level, companies in levels.items() %}
    {% if companies %}
      <section class="sponsors">
        <h3>{{ level }}</h3>
        <section>
        {% for company, link in companies.items() %}
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
              <div class="sponsor">
                <h4>{{ company }}</h4>
            {% endif %}
            <a href="{{ link }}" class="logo">
              <img src="{{ url_for('static', filename='images/partners/{}.{}'.format(company.replace('/', '-'), 'png' if company in png_logos else 'svg')) }}" alt="Logo {{ company }}" />
            </a>
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
                {{ description(company, lang) }}
              </div>
            {% endif %}
        {% endfor %}
        </section>
      {% endif %}
    </section>
  {% endfor %}
{% endmacro %}
